#include "keys_ru.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&mt {
    quick-tap-ms = <200>;
    flavor = "tap-preferred";
    require-prior-idle-ms = <125>;
};

/ {
    behaviors {
        hml: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <50>;
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 33 34 35>;
            hold-trigger-on-release;
        };

        hmr: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <50>;
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31 32>;
            hold-trigger-on-release;
        };
    };

    combos {
        compatible = "zmk,combos";

        esc {
            bindings = <&kp ESC>;
            key-positions = <12 17>;
        };

        caps {
            bindings = <&kp CAPSLOCK>;
            key-positions = <10 19>;
        };

        lang {
            bindings = <&kp LG(SPACE)>;
            key-positions = <2 7>;
            timeout-ms = <60>;
            layers = <0 1>;
        };

        adj_left {
            bindings = <&mo 4>;
            key-positions = <6 9>;
        };

        adj_right {
            bindings = <&mo 5>;
            key-positions = <0 3>;
        };

        plain_base {
            bindings = <&tog 1>;
            key-positions = <20 29>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        en {
            bindings = <
  &kp Q              &kp W         &kp E            &kp R            &kp T                          &kp Y  &kp U             &kp I             &kp O                 &kp P
  &hml LEFT_SHIFT A  &hml LCTRL S  &hml LEFT_GUI D  &hml LEFT_ALT F  &kp G                          &kp H  &hmr RIGHT_ALT J  &hmr RIGHT_GUI K  &hmr RIGHT_CONTROL L  &hmr RIGHT_SHIFT SEMICOLON
  &kp Z              &kp X         &kp C            &kp V            &kp B                          &kp N  &kp M             &kp COMMA         &kp DOT               &kp SLASH
                                                    &none            &mo 2  &kp SPACE    &kp ENTER  &mo 3  &none
            >;

            display-name = "Base";
        };

        // Keep the plain base below momentary layers so Symbols/Nav/Adjust can override it.
        en_plain {
            bindings = <
  &kp Q  &kp W  &kp E  &kp R  &kp T                          &kp Y  &kp U  &kp I      &kp O    &kp P
  &kp A  &kp S  &kp D  &kp F  &kp G                          &kp H  &kp J  &kp K      &kp L    &kp SEMICOLON
  &kp Z  &kp X  &kp C  &kp V  &kp B                          &kp N  &kp M  &kp COMMA  &kp DOT  &kp SLASH
                        &none  &mo 2  &kp SPACE    &kp ENTER  &mo 3  &none
            >;

            display-name = "Base plain";
        };

        sym_en {
            bindings = <
  &kp EXCL             &kp AT_SIGN       &kp HASH      &kp DOLLAR    &kp PRCNT                    &none      &kp AMPERSAND         &kp ASTERISK               &kp LEFT_PARENTHESIS            &kp RIGHT_PARENTHESIS
  &hml LEFT_SHIFT ESC  &kp LEFT_CONTROL  &kp LEFT_GUI  &kp LEFT_ALT  &kp CARET                    &kp MINUS  &hmr RIGHT_ALT EQUAL  &hmr RIGHT_GUI LEFT_BRACE  &hmr RIGHT_CONTROL RIGHT_BRACE  &hmr RIGHT_SHIFT SINGLE_QUOTE
  &kp TAB              &none             &none         &none         &none                       &none      &kp BACKSPACE         &kp LEFT_BRACKET           &kp RIGHT_BRACKET               &kp BACKSLASH
                                                       &trans        &none        &none    &none  &none      &trans
            >;

            display-name = "Symbols";
        };

        nav {
            bindings = <
  &kp N1          &kp N2            &kp N3        &kp N4        &kp N5                        &kp N6    &kp N7               &kp N8                   &kp N9                    &kp N0
  &kp LEFT_SHIFT  &kp LEFT_CONTROL  &kp LEFT_GUI  &kp LEFT_ALT  &kp NUMBER_6                  &kp LEFT  &hmr RIGHT_ALT DOWN  &hmr RIGHT_GUI UP_ARROW  &hmr RIGHT_CONTROL RIGHT  &kp RIGHT_SHIFT
  &kp GRAVE       &none             &none         &kp DELETE    &none                         &none     &none                &none                    &none                     &none
                                                  &trans        &none         &none    &none  &none     &trans
            >;

            display-name = "Nav";
        };

        adj_left {
            bindings = <
  &kp F1  &kp F2   &kp F3   &kp F4   &none                  &none  &none  &none  &none  &none
  &kp F5  &kp F6   &kp F7   &kp F8   &none                  &none  &none  &none  &none  &none
  &kp F9  &kp F10  &kp F11  &kp F12  &none                  &none  &none  &none  &none  &none
                            &trans   &none  &none    &none  &none  &trans
            >;

            display-name = "Adjust L";
        };

        adj_right {
            bindings = <
  &none  &none  &none  &none  &none                  &none         &none              &none       &none            &none
  &none  &none  &none  &none  &none                  &none         &kp C_VOLUME_DOWN  &kp K_MUTE  &kp C_VOLUME_UP  &none
  &none  &none  &none  &none  &none                  &bt BT_SEL 0  &kp C_PREV         &kp C_PP    &kp C_NEXT       &bt BT_CLR
                        &trans  &none  &none    &none  &none         &trans
            >;

            display-name = "Adjust R";
        };
    };
};
